argcomplete==3.5.1
boilerplates==1.1.1
colorama==0.4.6
colorlog==6.9.0
comtypes==1.2.0
gitdb==4.0.11
GitPython==3.1.43
keyboard==0.13.5
lxml==5.3.0
packaging==24.2
Pillow==10.0.0
pyperclip==1.8.2
pypiwin32==223
python-docx==1.1.2
pyttsx3==2.90
pywin32==306
semver==3.0.2
smmap==5.0.1
typing_extensions==4.12.2
version-query==1.5.5
